nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: lightblue;
    color: white;
  }

  .nav_links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 50% ;

  }
  .links{
    color : white
  }
